}
.navStyle a:hover {
  color: #009cff;
}
.navItem {
  margin: 0 25px 0 25px;
}

body {
    font-family: 'Bitter', sans-serif;
  }
h1, h4 {
    font-family: 'Bitter', sans-serif;
  }

.move {
  margin:15px;
}
a {
  color:#abc153;
}


.subnav-hero-section {
  text-align: center;
  background: rgba(248,0, 141, 0.7);
  background-size: cover;
  position: relative;
  overflow: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
}

.subnav-hero-section .subnav-hero-headline {
  color: #fefefe;
  text-transform: uppercase;
}

.subnav-hero-subnav {
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
}

.subnav-hero-subnav li {
  float: none;
  display: inline-block;
}

.subnav-hero-subnav li a {
  padding: 0.9rem 1rem;
  font-size: 1rem;
  color: #fefefe;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.35s ease-in-out;
  font-family: 'Roboto Condensed', sans-serif;
}

.subnav-hero-subnav li a.is-active {
  background: rgba(254, 254, 254, 0.15);
}

.subnav-hero-subnav li a:hover {
  background: rgba(254, 254, 254, 0.15);
}