h1 {
  padding: 2px 10px 2px 10px;
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  }

.change {
  background-color: #EFC3CA;
}

hr {
  border-bottom: 5px solid lightgrey; 
}

.italic {
  font-style: italic;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  text-align: right;
}

.center {
  text-align: center;
  font-style: italic;
 }

 .different{
  font-size: 12px;
 }

p { 
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #000000;
}

.pull-quote { 
  font-size: 1.5em;
  font-style: italic;
  border-left: 4px; solid #999;
  padding-left: 15px;
  margin: 10px;
  text-align: center;
  color: #000;
 }