h1 {
	padding: 2px 10px 2px 10px;
	color: #000000;
	text-align: center;
  }

p {
	padding: 1px 10px 1px 10px;
	color: #ffffff;
	margin: 0;
}

img {
	width: 50%;
}

.change {
	background-color: #ffed29;
}

.textcolor {
	color: #000000;
}

.grid-container img { 
	display: block;
	margin: 0 auto;
 }

 .center {
 	text-align: center;
 }

 .iframe-container {
  text-align: center;
}
.juxtapose {
  display: inline-block;
}

.pull-quote { 
	font-size: 1.5em;
	font-style: italic;
	border-left: 4px; solid #999;
	padding-left: 15px;
	margin: 10px;
	text-align: center;
	color: #333;
 }